{#
/**
 * @file
 * Adaptivetheme implementation to display the search block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values, including:
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - module: The module that provided this block plugin.
 *   - cache: The cache settings.
 *   - Block plugin specific settings will also be stored here.
 * - block - The full block entity, including:
 *   - label_hidden: The hidden block title value if the block was
 *     configured to hide the title ('label' is empty in this case).
 *   - module: The module that generated the block.
 *   - delta: An ID for the block, unique within each module.
 *   - region: The block region embedding the current block.
 * - content: The content of this block.
 * - attributes: A list HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template. Includes:
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see search_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block',
    'block-search',
    'block-config-provider--' ~ configuration.provider|clean_class,
    'block-plugin-id--' ~ plugin_id|clean_class,
    'block-id--' ~ attributes.id|clean_id,
    label ? 'has-title'
  ]
%}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<div{{ attributes.addClass(classes).removeClass('container-inline') }} aria-labelledby="{{ heading_id }}">
  <div class="block__inner block-search__inner">

    {# Label. If not displayed, we still provide it for screen readers. #}
    {% if not configuration.label_display %}
      {% set title_attributes = title_attributes.addClass('visually-hidden') %}
    {% endif %}

    {{ title_prefix }}
      <h2{{ title_attributes.addClass('block__title', 'block-search__title').setAttribute('id', heading_id) }}><span>{{ configuration.label }}</span></h2>
    {{ title_suffix }}

    {% block content %}
      <div{{ content_attributes.addClass('block__content', 'block-search__content') }}>
        {{ content }}
      </div>
    {% endblock %}

  </div>
</div>
